:root {
  --bg-black: #18191b;
  --bg-black2:rgb(21, 21, 23);
  --bg-header: hsl(240, 6%, 10%);
  --color-letters: #d8843b;
  --br: 5px;
  --border: solid 1px rgba(0, 0, 0, 0.5);
  --bs-nav-link-color: #bbb;
}

* {
  padding: 0;
  margin: 0;
}
.continue{
  border: solid 1px var(--color-letters);
  border-radius:2.5rem ;
  background-color: var(--bg-black);

  display: flex;
  flex-direction: column;

  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--color-letters);

  min-width: 200px;
  min-height: 250px;
  max-width: 200px;
}
.continue svg{
  fill: var(--color-letters);
}
.continue:hover{
  background-color: var(--color-letters);
  border: solid 1px var(--bg-black);
  color: var(--bg-black);

}
.continue:hover svg{
  fill: var(--bg-black);
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 9px;
  color: #bbb;
}

body {
  background: var(--bg-black2);
  /*background-image: url(../img/100559.jpg);*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Georgia, "Times New Roman", Times, serif;
  z-index: -100;
}

nav {
  background: var(--bg-header);
  box-shadow: 0px 0px 5px 2px rgba(00, 0, 0, 0.3);
  color: #fff;
}

.navbar-brand {
  color: var(--color-letters);
}

.navbar-brand:hover {
  color: var(--color-letters);
}

.nav-link {
  color: #bbb;
}

.nav-link:hover {
  color: var(--color-letters);
}

.navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-toggler{
  border-radius: 50%;
  padding: 7px 10px;
  border: 0px solid var(--bs-navbar-toggler-border-color);
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0.2px 0 0.7px;

  color:var(--color-letters);
}
.navbar-toggler span{
  border-radius: 50%;
  color: #fff;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 9px;
  color: #bbb;
}

.home {
  border: solid 3px #141415;
  background: var(--bg-black);
  border-radius: 0.6rem;
  padding: 25px;

  z-index: 1;
  min-width: 50%;

}

p {
  font-size: 21px;
  color: #fff;
}

.letterHeader {
  color: var(--color-letters);
  font-size: 54px;
}

.me {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  max-height: 550px;
  background: var(--bg-black);
  border: solid 3px #141415;
  right: 0;
  padding: 0px 30px;

  backdrop-filter: blur(0.7em);

}

.me .perfil {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 4px 5px;
  border: solid 1.2px var(--color-letters);
}

.me .letterHeader {
  color: var(--color-letters);
  font-size: 54px;
}

.me p {
  margin: 5px;
}

.me .list {
  display: flex;
  flex-direction: row;
}

.me .list .photoSite {
  width: 80px;
  height: 80px;
  border-radius: 30%;
  margin: 20px 5px;
}

.me .list .photoSite:hover {
  color: var(--color-letters);
  filter: drop-shadow(0 0 4px var(--color-letters)) drop-shadow(0 0 2px var(--color-letters)) drop-shadow(0 0 5px var(--color-letters));
}