:root{
  --bg--item: #18191b;
  --bg--itemSelect: #1d1f22;
  
}

#collection {
  width:100%;
  height:100%;
  margin-top: 20px;
  min-height: 700px;
  border-radius: 1.5%;
  padding: 20px 25px;

  color: #bbb;
  background: var(--bg-header);
  border: solid 0.5px var(--color-letters);
}
#collection a {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;

  width: 100%;
  height: 8.3%;
  padding-left: 10px;

  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;

  color: #bbb;
  background: var(--bg--item);
  border: solid 0.5px #333;
}
#collection a:hover {
  background: var(--bg--itemSelect);
  border: solid 0.5px var(--color-letters);
  color: var(--color-letters);
}
#collection .first {
  border-radius: 10px 10px 0px 0px;
}
#collection .last {
  border-radius: 0px 0px 10px 10px;
}
.search {
  background: var(--bg-header);
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 87%;
  min-width: 330px;
  height: 40%;
  min-height: 300px;
  border-radius: 1.5%;

  color: #bbb;
  border: solid 0.5px var(--color-letters);
}

.search div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
  margin-top: 15px;
}

.search input {
  width: 100%;
  height: 100%;
  color: #444;
}

.search .filtrador {
  width: 40px;
  height: 40px;
  font-size: 8px;

  color: #fff;
  background: #444;
  border: solid 1.2px #444;
}
.search .filtrador img {
  position: relative;
  height: 100%;
  width: 100%;
}
.search button:hover {
  color: var(--color-letters);
  border: solid 1.2px var(--color-letters);
  filter: drop-shadow(0 0 2px var(--color-letters)) drop-shadow(0 0 2px var(--color-letters))
    drop-shadow(0 0 5px var(--color-letters));
    background: whitesmoke;
}

.search div .arrow {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.search div .arrow:hover {
  filter: drop-shadow(0 0 2px var(--color-letters)) drop-shadow(0 0 2px var(--color-letters))
    drop-shadow(0 0 5px var(--color-letters));
}

.filter-buttons button {
  position: relative;
  display:  flex;
  align-items: center;
  justify-content: center;
  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 20px 20px 20px;
  
  background: #333;
}
.filter-buttons button img {
  position: relative;
  width: 120%;
  height: 120%;
}
.filter-buttons .btnAble {
  color: var(--color-letters);
  border: solid 1.2px var(--color-letters);
  filter: drop-shadow(0 0 2px var(--color-letters)) drop-shadow(0 0 2px var(--color-letters))
    drop-shadow(0 0 5px var(--color-letters));
    background: whitesmoke;
}
#numbers a{
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
#numbers .pos {
  color: var(--color-letters);
}
#numbers a:hover {
  color: var(--color-letters);
  cursor: pointer;
}
